<div class="container">
  <h2>
    Fight rules
  </h2>
  <ol>
    <li>Base chance of winning for every hero is 50%</li>
    <li>Host modificator</li>
    <ul>
      <li>Every host of a fight gets 3% more chance of winning.</li>
    </ul>
    <li>Total skill power modificator</li>
    <ul>
      <li>Every hero which has more skill summary level gets additional 3% per one more skill level.</li>
      <li>Example: Hero1 total skill level = 10, Hero2 total skill level = 7</li>
      <ul>
        <li>Hero1 additional chance +9%, bacause 10-7 = 3. 3*3 = 9.</li>
      </ul>
    </ul>
    <li>Element power modificators</li>
    <ul>
      <li>Wind beats earth, water beats fire, earth beats water and fire beats wind.</li>
      <li>Every hero gets 2% more chance per one beaten skill level point.</li>
      <li>Example1: Hero1: total fire level skill = 5, Hero2: total wind level skill = 3</li>
      <ul>
        <li>Heros1 fire skills beats 3 wind skill level's of Hero2. Hero1 gets additional 6% because 3*2=6</li>
      </ul>
      <li>Example2: Hero1: total water level skill = 2, Hero2: total earth level skill = 5</li>
      <ul>
        <li>Heros2 earth skills beats 2 water skill levels of Hero1. Hero2 gets additional 4% because 2*2=4</li>
      </ul>
    </ul>
    <li>Experience modificators</li>
    <ul>To be done</ul>
  </ol>
</div>