<div class="container">
  <h2>
    Fight rules
  </h2>
  <ol>
    <li>Base chance of winning for every hero is 50%</li>
    <li>Host modificator</li>
    <ul>
      <li>Every host of a fight gets 3% more chance of winning.</li>
    </ul>
    <li>Total skill power modificator</li>
    <ul>
      <li>Every hero which has more skill summary level gets additional 3% per one more skill level.</li>
      <li>Example: Hero1 total skill level = 10, Hero2 total skill level = 7</li>
      <ul>
        <li>Hero1 additional chance +9%, bacause 10-7 = 3. 3*3 = 9.</li>
      </ul>
    </ul>
    <li>Element power modificators</li>
    <ul>
      <li>Wind beats earth, water beats fire, earth beats water and fire beats wind.</li>
      <li>Every hero gets 2% more chance per one beaten skill level point.</li>
      <li>Example1: Hero1: total fire level skill = 5, Hero2: total wind level skill = 3</li>
      <ul>
        <li>Heros1 fire skills beats 3 wind skill level's of Hero2. Hero1 gets additional 6% because 3*2=6</li>
      </ul>
      <li>Example2: Hero1: total water level skill = 5, Hero2: total earth level skill = 2</li>
      <ul>
        <li>Heros2 earth skills beats 2 water skill levels of Hero1.(<small>warning: it doesn't beat 5 points because Hero2 has only 2 earth points.</small>) 
        Hero2 gets additional 4% because 2*2=4</li>
      </ul>
    </ul>
    <li>Experience modificators</li>
    <ul>
      <li>Each experience level point greater than opponent gives +3% chance.</li>
    </ul>
    <li>Weather modificators</li>
    <ul>
      <li>Weather can't be predicted, it's revealed when the fight is over.</li>
      <li>It may be:</li>
      <ul>
        <li>Windy, each wind elemental skill level +2% chance.</li>
        <li>Rainy, each water elemental skill point +2% chance.</li>
        <li>Dry, each earth elemental skill point +2% chance.</li>
        <li>Hot, each fire elemental skill point +2% chance.</li>
      </ul>
    </ul>
    <li>Gaining Experience</li>
    <ul>
      <li>Hero can gain experience only by winning fights.</li>
      <li>Fight winner gets 10 experience points base.</li>
      <li>Experience modificators</li>
      <ul>
        <li>If winner's chance(including weather) was more than 55%, he loses 2 experience points per every next 5%.</li>
        <li>Example: Hero won fight with 70% chance, he gained 2 experience points. <small>(warning: winning fights with 75%+ chance doesn't give experince at all!)</small></li>
        <li>If winner's chance(including weather) was less than 45%, he gains additional 2 experience points per every lesser 5%</li>
        <li>Example: Hero won fight with 35% chance, he gained additional 6 experience points, 16 totally.</li>
      </ul>
      <li>Maxium experience level is 6.</li>
      <li>Hero can't lost experience.</li>
      <li>Experience-level table:</li>
      <table class="table">
        <thead>
          <th>level</th>
          <th>Required experience points</th>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>0</td>
          </tr>
          <tr>
            <td>2</td>
            <td>30</td>
          </tr>
          <tr>
            <td>3</td>
            <td>90</td>
          </tr>
          <tr>
            <td>4</td>
            <td>270</td>
          </tr>
          <tr>
            <td>5</td>
            <td>810</td>
          </tr>
          <tr>
            <td>6</td>
            <td>2430</td>
          </tr>
        </tbody>
      </table>
    </ul>
  </ol>
</div>