.wind {
  background: #b9d9fb;
  color: white;
  background-color: #b9d9fb !important;
}
.water {
  background: #40a4df;
  color: white;
  background-color: #40a4df !important;
}
.earth {
  background: #9F572B;
  color: white;
  background-color: #9F572B !important;
}
.fire {
  background: #FF0000;
  color: white;
  background-color: #FF0000 !important;
}
a.list-group-item:hover {
  cursor: pointer;
}